.creatorDetails{
  margin: 1rem 30rem 30rem;
  height: 50rem;
  width: 40rem;
  padding: 3rem 5rem 10rem 5rem;
  text-align: center;
  border: 0.1rem solid white;
  border-radius: 1.25rem;
  float: center;
  background-color:#805D15;
  font-family: "gotu";
  color: white;
  font-size: 25px;
  margin-bottom: 50rem;
}

.creatorsHeader-title-is-3{
  font-family: "luminari";
  margin: 50px;
  text-align: center;
  font-size: 50px;
  color: #A6A938
}

.creators, #root{
  background-color: #ECE8DB; 
}

.creator-container{
   align-items:baseline;
   column-gap: 10px;
   display: flex;
   background-color: white;
   border: 4px solid #805D15;
   color:#A6A938;
   font-family: 'luminari';
   justify-content: space-around;
   margin: 0.5rem 5rem;
   text-align: center;
   border-radius: 5px;
   width: 100px;
   text-indent: -20px;
   padding: 10px 200px;
   font-size: 20px; 
}

.form-group, .form-control {
   padding: 0.7rem;
   margin: 0.5rem 0;
   color: #805D15;
   font-family: "luminari";
   font-size: 14px;
   line-height: 1.5;
   font-size: larger;
}

.creatorlink, .creatorlink{
 text-decoration: none; 
}